@model IEnumerable<DatabaseProvider.HoaDon>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin: auto;
        background-color: white;
        text-align: center;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: dodgerblue;
            color: white;
        }

    #tb {
        width: 85%;
        clear: both;
        margin-top: 6px !important;
        margin-bottom: 6px !important;
        max-width: none !important;
        border-collapse: separate !important;
        border-spacing: 0;
        text-align: center;
    }
</style>

<h2 style="margin:0 0 30px 0">Hóa Đơn</h2>

<table id="tb">
    <tr>
        <th>Số Hóa Đơn</th>
        <th>Ngày Mua</th>
        <th>Người Nhận</th>
        @*<th>Điện thoại</th>*@ 
        <th>Địa chỉ</th>    
        <th>Email</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SoHoaDon</td>
            <td>@item.NgayMua</td>
            <td>@item.NguoiNhan</td>
            @*<td>@item.DienThoai</td>*@
            <td>@item.Diachi</td>
            <td>@item.Email</td>
        </tr>

    }
</table>


